.highlight {
	color: #C64C6F;
	font-weight: 600;
}

.item {
	padding-left: 50px;
}

.bigger{
	font-size: 150%;
}

.axis path,
.axis line{
	fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}